<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Cadastro de materias
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let materia of dados">
        <ion-icon color="primary" name="logo-buffer"></ion-icon>
        <ion-label [routerLink]="['/detalhes', materia.id]">{{materia.nome}}</ion-label>
        <ion-label [routerLink]="['/detalhes', materia.id]">{{materia.status}}</ion-label>
        <ion-icon (click)="remover(materia.id)" color="danger" name="close-sharp"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-col size="auto">
      <ion-button fill= "clear">
      <ion-button color="medium" routerLink="/edit-materias" >Adicionar Materia</ion-button>
      </ion-button>
    </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear">
          <ion-button routerLink="/home" color="dark">Voltar para Home</ion-button>
        </ion-button>
    </ion-col>
  </div>
</ion-content>

