<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/redacao" color="primary">
      <ion-label>Redação</ion-label>
    </ion-item>

    <ion-item button routerLink="/ingles" color="warning">
      <ion-label>Inglês</ion-label>
    </ion-item>

    <ion-item button routerLink="/tecnologia" color="success">
      <ion-label>Tecnologia</ion-label>
    </ion-item>
  </ion-list>
  <ion-button routerLink="/home" color="dark" fill="outline" expand="block">Voltar para Home</ion-button>
</ion-content>
