<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Cadastro 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="loginForm(f)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input [(ngModel)]="pessoa.nome" #nameCtrl="ngModel" name="nome" required></ion-input>
      </ion-item>
      <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
        <ion-text color="danger">Insira um nome</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="pessoa.senha" #passwordCtrl="ngModel" name="senha" required>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
        <ion-text color="danger">insira uma senha</ion-text>
      </ion-item>
      <ion-toggle [(ngModel)]="data.switch" #switchCtrl="ngModel" name="switch"></ion-toggle><p>Receber email com novidades? {{f.value.switch ? 'Ligado':'Desligado'}}</p>
      <ion-button type="submit" expand="block" fill="outline" [disabled]="!f.valid">
        Login
      </ion-button>
    </ion-list>
  </form>
  <ion-button routerLink="/home" color="dark" fill="outline" expand="block">Voltar para Home</ion-button>
</ion-content>
